body {
  font-family: Raleway, sans-serif;
  color: #fff;
  background: #3b4954;
  font-size: 1.6em;
  text-align: center;
  margin: 0;
  user-select: none;
}

.card-display {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.card-front {
  color: rgb(185, 185, 185);
  background: #f95851;
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}

.card-flipped {
  color: #249693;
  background: #249693;
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;
}

.display-turns {
  color: #f95851;
  background: #ffeccc;
  margin-top: 20px;
  text-align: center;
}

.new-game-btn {
  margin-top: 20px;
  color: #fff;
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.new-game-btn:hover {
  color: #fff;
  background: #f95851;
}


.score-board {
  margin-right: auto;
  margin-left: auto;

  height: 300px;
  width: 400px;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #f95851;
  background-color: #ffeccc;
}
h5{
  margin: 0%;
}

.leader-board{
  margin-right: auto;
  margin-left: auto;

  height: 300px;
  width: 400px;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #f95851;
  background-color: #ffeccc;
}

