body {
  background-color: rgb(4, 247, 57);
}
.card-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;

}

.card-front {
  color: rgb(119, 119, 119);
  background-color: rgb(217, 255, 0);
  text-align: center;
  height: 160px;
  width: 100px; 
  padding:0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 3px 3px 3px gray;

}

.card-flipped {
  color: red;
  background-color: red;
  text-align: center;
  height: 160px;
  width: 100px; 
  padding:0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;

}



.score-display{
  font-family: 2rem;
  color: rgb(4, 247, 57);
  background-color: rgb(217, 255, 0);
}

.new-game-btn{
  border: 0;
  font-family: 2rem;
  border-radius: 8px;
  cursor: pointer;
}