body {
  background-color: beige;
}
.card-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;

}

.card {
  color: white;
  background-color: red;
  text-align: center;
  height: 160px;
  width: 100px; 
  padding:0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
}
