body {
  background-color: rgb(4, 247, 57);
}
.card-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;

}

/* .card {
  color: white;
  background-color: red;
  text-align: center;
  height: 160px;
  width: 100px; 
  padding:0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
} */


.card-flipped {
  color: red;
  background-color: red;
  text-align: center;
  height: 160px;
  width: 100px; 
  padding:0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
}


.card-front {
  color: rgb(4, 247, 57);
  background-color: rgb(217, 255, 0);
  text-align: center;
  height: 160px;
  width: 100px; 
  padding:0px;
  padding-top: 80px;
  margin: 0 auto;
  border: solid;
  border-radius: 8px;
  cursor: pointer;
}

.score-display{
  font-family: 50px;
}